{% extends 'base.html.twig' %}

{% block title %}CustomerAdress index{% endblock %}

{% block body %}
    <h1>CustomerAdress index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Address</th>
                <th>Cp</th>
                <th>City</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer_adress in customer_adresses %}
            <tr>
                <td>{{ customer_adress.id }}</td>
                <td>{{ customer_adress.Type }}</td>
                <td>{{ customer_adress.Address }}</td>
                <td>{{ customer_adress.Cp }}</td>
                <td>{{ customer_adress.City }}</td>
                <td>{{ customer_adress.Country }}</td>
                <td>
                    <a href="{{ path('app_customer_adress_show', {'id': customer_adress.id}) }}">show</a>
                    <a href="{{ path('app_customer_adress_edit', {'id': customer_adress.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_customer_adress_new') }}">Create new</a>
{% endblock %}
