{% extends 'base.html.twig' %}

{% block title %}CustomerAdress{% endblock %}

{% block body %}
    <h1>CustomerAdress</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer_adress.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ customer_adress.Type }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ customer_adress.Address }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ customer_adress.Cp }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ customer_adress.City }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ customer_adress.Country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_customer_adress_index') }}">back to list</a>

    <a href="{{ path('app_customer_adress_edit', {'id': customer_adress.id}) }}">edit</a>

    {{ include('customer_adress/_delete_form.html.twig') }}
{% endblock %}
