{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block admin %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>PriceHT</th>
                <th>Available</th>
                <th>Image</th> {# Ajout de cette colonne pour l'image #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.Name }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.PriceHT }}</td>
                <td>{{ product.Available ? 'Yes' : 'No' }}</td>
                <td>
                    {% if product.img %}
                        <img src="{{ asset('uploads/' ~ product.img) }}" alt="{{ product.Name }}" style="max-width: 100px;">
                    {% else %}
                        No image
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a> 
{% endblock %}
