{% extends 'base.html.twig' %}

{% block title %}Tous les produits
{% endblock %}

{% block products %}

	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
			{% for product in products %}
				<div class="col mb-5">
					<div
						class="card h-100">
						<!-- Product image-->
						<img
						class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
						<!-- Product details-->
						<div class="card-body p-4">
							<div
								class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder">{{ product.Name }}</h5>
								<!-- Product reviews-->
								<div class="d-flex justify-content-center small text-warning mb-2">
									<div class="bi-star-fill"></div>
									<div class="bi-star-fill"></div>
									<div class="bi-star-fill"></div>
									<div class="bi-star-fill"></div>
									<div class="bi-star-fill"></div>
								</div>
								<!-- Product price-->
								{{ product.PriceHT }}€
                                <div class="mt-2"> {{ product.Description }}</div>
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center">
								<a class="btn btn-outline-dark mt-auto" href="#">Ajouter au panier</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
	{# <h1>Product index</h1>
	
	    <table class="table">
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Name</th>
	                <th>Description</th>
	                <th>PriceHT</th>
	                <th>Available</th>
	                <th>actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for product in products %}
	            <tr>
	                <td>{{ product.id }}</td>
	                <td>{{ product.Name }}</td>
	                <td>{{ product.Description }}</td>
	                <td>{{ product.PriceHT }}</td>
	                <td>{{ product.Available ? 'Yes' : 'No' }}</td>
	                <td>
	                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
	                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
	                </td>
	            </tr>
	        {% else %}
	            <tr>
	                <td colspan="6">no records found</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	
	    <a href="{{ path('app_product_new') }}">Create new</a>  #}
{% endblock %}
